@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    font-family: 'Montserrat', sans-serif;
    font-size: $font-base;
    line-height: 1.8em;
    color: $color-text;
}

///////////////////////
////////PROFILE///////
//////////////////////
.profile-img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding: 1em;
}

.profile-name {
    line-height: 1rem;
    padding: 0.5em;
}

.self-summery {
    display: block;
    margin: 1em auto;
    max-width: 75%;
}

//Header Sizes
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

///////////////////////
//////////BLOG////////
//////////////////////
///////////
////POST
//////////
.card-post {
    border: 1px solid $color-lightgrey;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.8rem rgba($color-shadow, 0.4);
    header {
        h1 {
            line-height: 2em;
        }
        .icon {
            font-size: 2em;
            padding: 0.5em;
            vertical-align: top;
            height: 1em;
            width: 1em;
        }
    }
}

.post-project {
    header {
        color: $color-red;
        svg {
            fill: $color-red;
        }
    }
    btn-primary {
        background-color: $color-red;
    }
}

.post-blog {
    header {
        color: $color-primary;
        svg {
            fill: $color-primary;
        }
    }
    btn-primary {
        background-color: $color-primary;
    }
}

.post-other {
    header {
        color: $color-green;
        svg {
            fill: $color-green;
        }
    }
    btn-primary {
        background-color: $color-green;
    }
}

.post-body {
    padding: 2em;
    p {
        text-indent: 2em;
    }
}

.post-footer {
    border-top: solid 1px $color-text;
    font-size: 0.6em;
    ul {
        float: left;
        list-style: none;
        display: inline-block;
    }
    li {
        float: left;
        margin: 0.5em 0.5em;
        padding: 0em 1em;
        display: inline-block;
    }
}

.post-tags {
    li {
        color: #FFF;
        background-color: $color-primary;
        border-radius: 2em;
    }
}

.post-date {
    height: 100%;
    line-height: 4em;
}

///////////
////Columns
//////////
.panel-left {
    text-align: center;
    justify-content: space-around;
    background-color: $color-red;
    color: #FFF;
    min-width: 20rem;
    height: 100vh;
}

.panel-right {
    overflow-y: scroll;
    header {
        border-bottom: 1px solid;
        h1 {
            display: inline-block;
        }
        icon {
            display: inline-block;
        }
    }
}

/////////////////////

