//defaults
$font-base: 12px;

//Colors
$color-primary: #31849F;
$color-red: #FF6347;
$color-yellow: #FFA547;
$color-green: #34BB62;
    
$color-text: rgba(0, 0, 0, 0.85);
$color-lightgrey: lighten(#000, 80%);
$color-shadow: lighten(#000, 30%);